/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 50px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #064fd0;
  }
  
  a {
    display: inline-block;
    margin-top: 10px;
    color: #064fd0;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    padding: 10px;
    text-align: center;
    background-color: #ccc;
  }

  